.avatar__img {
    width: 300px;
    height: 300px;
    float: left;
}

.Avatar {
    margin: 5% 5%;
    background-color: blue;
    display: block;
    padding: 20px;
    height: max-content;
}




/* ======================================Color Picker============================================================= */
.colorPicker__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    background-color: #fafcff;
    background-image: radial-gradient(circle, transparent, #afb5bf), linear-gradient(transparent, #d3d8e0);
}

.color-picker {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.color-picker .shade-selector,
.color-picker .hue-selector {
    position: relative;
    width: 250px;
    margin: 15px;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
    box-shadow: inset 0 0 1px rgba(2, 31, 39, 0.4), inset 0 0 5px rgba(58, 77, 82, 0.2);
}

.color-picker .shade-selector {
    height: 250px;
    background: linear-gradient(transparent, black), linear-gradient(90deg, white, transparent), linear-gradient(var(--color), var(--color));
}

.color-picker .hue-selector {
    height: 8px;
    background-image: linear-gradient(90deg, red, #ff0, lime, cyan, blue, #f0f, red);
}

.color-picker .hue-selector .pointer {
    top: 4px;
}

.color-picker .pointer {
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 5px solid white;
    transform: translate(-10px, -10px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: var(--color);
}

.info-box {
    display: flex;
    justify-content: space-between;
    margin: 30px 10px 10px;
}

.info-box div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50px;
    font-size: 12px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    user-select: all;
}

.info-box div::before {
    content: attr(title);
    position: absolute;
    top: -18px;
    font-weight: bold;
    font-size: 10px;
}

.info-box div:first-child {
    flex-basis: 80px;
}