* {
    box-sizing: border-box;
}

body {
    background-image: url('img/LoginBG.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.login {
    margin: 15vh auto;
    width: 30%;
    background-color: white;
    padding: 30px;
    justify-content: center;
    text-align: center;
    display: block;
    align-items: center;
}

.login h1 {
    color: #38225e;
    text-shadow: 4px 4px 4px 4px #ad7bf8;
}

.login__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.login__button--flex {
    display: block;
    clear: both;
}

/* ===================================================================== Go back button =====================================================================*/
#goBack__button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 13rem;
    height: auto;
}

#goBack__button .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    width: 3rem;
    height: 3rem;
    background: #5264AE;
    border-radius: 1.625rem;
    float: right;
}

#goBack__button .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

#goBack__button .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 1.1rem;
    width: 0.9rem;
    height: 0.125rem;
    background: none;
}

#goBack__button .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.30rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(225deg);
}

#goBack__button .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0;
    color: #5264AE;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

#goBack__button:hover .circle {
    width: 100%;
}

#goBack__button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

#goBack__button:hover .button-text {
    color: #fff;
}

/* ============================================================================================================================================================================ */
.login h1 {
    margin-bottom: 20px;
}

.login__form {
    margin: 0 auto;
}

.login__inputGroup {
    position: relative;
    margin: 0 auto;
    margin-bottom: 45px;
    justify-self: center;
}

.login__input {
    margin: 0 auto;
    color: #a972fc;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    display: block;
    width: 90%;
    border: none;
    border-bottom: 1px solid #e1d1fc;
}

.login__input:focus {
    outline: none;
}

/*============================================================================== LABEL ============================================================================== */
.login__inputlabel {
    color: #c9a7fd;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    margin: inherit;
    padding-left: 20px;
}

/* active state */
.login__input:focus~.login__inputlabel,
.login__input:valid~.login__inputlabel {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}


/*============================================================================== BOTTOM BARS ======================================================================== */
.login__inputBar {
    margin: 0 auto;
    position: relative;
    display: block;
    width: 90%;
}

.login__inputBar:before,
.login__inputBar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.login__inputBar:before {
    left: 50%;
}

.login__inputBar:after {
    right: 50%;
}

/* active state */
.login__input:focus~.login__inputBar:before,
.login__input:focus~.login__inputBar:after {
    width: 50%;
}


/* ============================================================================== submit ============================================================================== */

#submit__button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 12rem;
    height: auto;
}

#submit__button .circle2 {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #5264AE;
    border-radius: 1.625rem;
}

#submit__button .circle2 .icon2 {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

#submit__button .circle2 .icon2.arrow2 {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.9rem;
    width: 0.9rem;
    height: 0.125rem;
    background: none;
}

#submit__button .circle2 .icon2.arrow2::before {
    position: absolute;
    content: "";
    top: -0.30rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

#submit__button .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0;
    color: #5264AE;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

#submit__button:hover .circle2 {
    width: 100%;
}

#submit__button:hover .circle2 .icon2.arrow2 {
    background: #fff;
    transform: translate(9rem, 0);
}

#submit__button:hover .button-text {
    color: #fff;
}

.login__checkboxLabel {
    display: flex;
    font-size: 10px;
    color: #999;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
}

.login__checkboxInput {
    text-align: left;
    padding-left: 20px;
    margin: 5px;

}

.login__inputCheckbox {
    margin-right: 10px;

}

.login__submit {
    text-align: center;
    margin: 0 auto;
}


/* ================================================================================links login================================================================================== */

.login__links {
    margin-top: 10%;
}

.link__ForgotPass,
.link__CreateAcc {
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
}

.link__ForgotPass p,
.link__CreateAcc p {
    font-size: 12px;
    text-decoration: none;
    color: #999;
    letter-spacing: 0.2px;
    font-weight: 500;
}

.link__ForgotPass p:hover,
.link__CreateAcc p:hover {
    transition: all 0.3s;
    color: #5264AE;
    text-shadow: 4px 4px 11px #ad7bf8;
}

.login__inputCheckbox {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    appearance: none;
    background-color: #fff;
    margin-right: 10px;
    font: inherit;
    color: currentColor;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #5264AE;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.login__inputCheckbox:checked::before {
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.login__inputCheckbox::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #b991ff;
}

.login__inputCheckbox:checked::before {
    transform: scale(1);
}