#lobbyList {
    background-color: rgb(253, 240, 240);
    margin: 0;
    height: 100vh;
    top: 0;
}

.lobbies__form {
    margin: 0 auto;
    align-items: center;
    width: 80%;
    padding: 10px;
    text-align: center;
    bottom: 10vh;
}

.lobbiesForm__inputGroup {
    width: 50%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 45px;
    border-color: #000000;
    border-style: solid;
    border-width: 4px 0;
    color: #000000;
    position: relative;
    transition: all 1s;
}

.lobbiesForm__input:focus {
    transition: all 1s;
    background-color: #daffc1;
}

.lobbiesForm__input {
    margin: 0 auto;
    font-size: 30px;
    display: block;
    padding: 10px;
    text-align: center;
    width: 100%;
    border: none;
}

.lobbiesForm__inputGroup::after {
    background-color: white;
    box-shadow: 4px 0 0 #000000, 0 -4px #000000, 0 4px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
    outline: none;
}

.lobbiesForm__inputGroup::before {
    background-color: rgb(246, 255, 235);
    box-shadow: -4px 0 0 #000000, 0 -4px #000000, 0 4px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
}

.lobbiesForm__input:focus {
    outline: none;
}



/* =================================Amae================================================ */
.lobbies__noLobbies {
    text-align: center;
    margin: 50px;
    margin-bottom: 0;
    color: #535353;
}

.lobbies__noLobbies h1 {
    font-size: 30px;
}

.lobbies__noLobbies h2 {
    font-size: 20px;
}

#form {
    /* background: rgba(0, 0, 0, 0.021); */
    padding: 20px;
    width: fit-content;
    /* position: fixed; */
    /* bottom: 0; */
    left: 0;
    right: 0;
    bottom: 10%;
    display: flex;
    height: 5rem;
    box-sizing: border-box;
    /* backdrop-filter: blur(10px); */
}

#input {
    border: none;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}


#input:focus {
    outline: none;
}

#form>button {
    background: #0d6319;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#form>button:disabled {
    background: #0d631852;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #efefef;
}

#input_message {
    font-size: 10px;
}

/* ================================================================================= */
.lobbylist__container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding: 30px;
}

.lobbies__lobbylist {
    margin: 0 auto;
}

.lobbies__title {
    color: #106d04;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-self: center;
}

.lobbies__title:hover {
    cursor: pointer;
}

.lobbies__table {
    padding: 0;
}

.connectedUsers__userList {
    list-style: none;
}

.item__image {
    border-radius: 50%;
    margin-right: 1vw;
}

.userList__item {
    margin-bottom: 1vw;
}

.lobbies__table li {
    background-color: #578e32;
    padding: 25px 15px;
    display: flex;
    font-size: 20px;
    margin-bottom: 1vh;
    text-align: center;
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    position: relative;
}

.table__row::after {
    transition: all 0.2s;
    background-color: #578e32;
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
}


.table__row::before {
    transition: all 0.2s;
    background-color: #578e32;
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
}

.lobbies__table .table__header {
    padding: 20px 15px;
    background: #baffb1;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    color: #000000;
    position: relative;

}

.table__header::after {
    background-color: #baffb1;
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
}

.table__header::before {
    background-color: #baffb1;
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
}

.table__body {
    overflow: 0 auto;
    max-height: 50vh;
    height: fit-content;
}

.lobbies__table .table__row {
    transition: all 0.2s;
    background: #578e32;
    color: white;
    font-weight: bold;
    /* box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); */
}

.lobbies__table .table__row:hover {
    background: #0c7e1d;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 18px 14px 15px -4px rgba(0, 0, 0, 0.295);
    -moz-box-shadow: 18px 14px 15px -4px rgba(0, 0, 0, 0.295);
    box-shadow: 18px 14px 15px -4px rgba(0, 0, 0, 0.295);
    backdrop-filter: blur(5px);
}

.table__row:hover::after,
.table__row:hover::before {
    background: #0c7e1d;
}

.lobbies__table .col-1 {
    flex-basis: 10%;
}

.lobbies__table .col-2 {
    flex-basis: 40%;
}

.lobbies__table .col-3 {
    flex-basis: 35%;
}

.lobbies__table .col-4 {
    flex-basis: 15%;
    text-align: center;
}


.lobby__connectedUsers {
    color: white
}

.chat__body {
    height: 50vh;
    max-height: 30vh;
    max-width: 70%;
    overflow: auto;
}

.chat__title {
    color: white
}

.chat__message {
    font-size: 14px;
}

.lobby__chat,
.game__chat {
    bottom: 0;
    /* background-color: #ffffff; */
}

.chat__chatbox{
    bottom: 0;
}

@media all and (max-width: 767px) {
    .lobbies__table .table__header {
        display: none;
    }

    .lobbies__table li {
        display: block;
    }

    .lobbies__table .col {
        flex-basis: 100%;
    }

    .lobbies__table .col {
        display: flex;
        padding: 10px 0;
    }

    .lobbies__table .col:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

.lobbies__button {
    background-color: green;
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    color: #ffffff;
    display: inline-block;
    margin-left: 12px;
    padding: 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.5s;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.37);
}

.lobbies__button::after {
    background-color: green;
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.lobbies__button::before {
    background-color: green;
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.lobbies__button:hover {
    box-shadow: none;
    background-color: #027202;
    transform: translate(0, 5px);
    cursor: pointer;
}

.lobbies__button:hover::after,
.lobbies__button:hover::before {
    background-color: #027202;
}