.lobbies__form {
    background-color: #5264ae;
}

.lobbylist__container {
    font-family: "lato", sans-serif;
    width: 80%;
    max-height: 80vh;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff50;
    margin: 0 auto;
    margin-top: 5vh;
    padding: 1vw;
}

.lobbies__lobbylist {
    margin: 0 auto;
}

.lobbies__title {
    background-color: #5264ae;
    color: white;
    width: fit-content;
    font-size: 26px;
    margin: 0 auto;
    padding: 2vw;
    text-align: center;
}

.lobbies__table {
    padding: 0;
}

.lobbies__reloadButton {
    float: right;
    font-size: 5vw;
    color: #002c8c;
    font-weight: bold;
}

.lobbies__reloadButton:hover {
    cursor: pointer;
}

.lobbies__table li {
    border-radius: 3px;
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
    text-align: center;
}

.lobbies__table .table__header {
    padding: 10px 15px;
    background: #002c8c;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.lobbies__table .table__row {
    transition: all 0.2s;
    background: #32458e;
    color: white;
    font-weight: bold;
    /* box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); */
}

.lobbies__table .table__row:hover {
    background: rgba(7, 24, 175, 0.171);
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 18px 14px 15px -4px rgba(0, 0, 0, 0.295);
    -moz-box-shadow: 18px 14px 15px -4px rgba(0, 0, 0, 0.295);
    box-shadow: 18px 14px 15px -4px rgba(0, 0, 0, 0.295);
    backdrop-filter: blur(5px);
}

.lobbies__table .col-1 {
    flex-basis: 10%;
}

.lobbies__table .col-2 {
    flex-basis: 40%;
}

.lobbies__table .col-3 {
    flex-basis: 35%;
}

.lobbies__table .col-4 {
    flex-basis: 15%;
    text-align: center;
}

@media all and (max-width: 767px) {
    .lobbies__table .table__header {
        display: none;
    }

    .lobbies__table li {
        display: block;
    }

    .lobbies__table .col {
        flex-basis: 100%;
    }

    .lobbies__table .col {
        display: flex;
        padding: 10px 0;
    }

    .lobbies__table .col:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}