.addQuestionPixel {
    background-color: var(--white);
    color: #2e5e22;
    margin: 10vh auto;
    width: 60%;
    text-align: center;
    padding: 30px;
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    color: #000000;
    position: relative;
}

.addQuestionPixel::after {
    background-color: var(--white);
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
}

.addQuestionPixel::before {
    background-color: var(--white);
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
}

.addQuestion-back {
    font-size: 0.6vw;
    background-color: #88D34A;
    padding: 10px;
    margin-left: 0%;
    width: 15%;
    height: 100%;
    box-shadow: none;
    color: black;
}

.addQuestion-back::before {
    background-color: #88D34A;
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100%);
    position: absolute;
    left: -6px;
    top: 0px;
    width: 6px;
    transition: all 0.5s;
}

.addQuestion-back::after {
    background-color: #88D34A;
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100%);
    position: absolute;
    right: -6px;
    top: 0px;
    width: 6px;
    transition: all 0.5s;
}

.addQuestion-back:hover::after,
.addQuestion-back:hover::before,
.addQuestion-back:hover {
    background-color: #88D34A;
}

.addQuestionPixel h1 {
    font-size: 2.3vw;
    margin-left: 13%;
    margin-right: 27%;
    font-family: karmatic;
    text-align: center;
    text-transform: uppercase;
    display: inline;
}

.addQuestionPixel__container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
}

.statement__container {
    font-size: 1.4vw;
}

.statement__container textarea {
    width: 90%;
    height: 100px;
    resize: none;
    font-size: 1vw;
}

.statement__container p {
    margin-top: -3.5%;
    font-size: 1.4vw;
    margin-bottom: 0px;
}


.addQuestionPixel__titleCheckbox label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 1.2vw;
}

.addQuestionPixel__titleCheckbox label:first-child {
    padding: 12px 0;
}

.addQuestionPixel__title {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.addQuestionPixel__input input {
    float: left;
    width: 70%;
    margin-top: 12px;
    font-size: 1.4vw;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.grid__container {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px;
    margin: 10px 0px 0 0px;
    width: 100%;
}

.inputOutput__container {
    display: grid;
    grid-template-columns: 38% 5% 37% 20%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    width: 100%;
    max-height: 9.2vw;
}

.inputOutput__container h1 {
    font-size: 4.3vw;
    font-family: karmatic;
    text-transform: uppercase;
}

.inputOutput__container input {
    font-size: 1vw;
    width: 90%;
    margin-top: 10px;
}

.inputArrows__conainer {
    margin-top: 42px;
}

.inputArrows__conainer img {
    padding: 0;
    margin: 0;
    width: 1.67vw;
    height: 1.67vw;
}

.setPublic__label:hover {
    cursor: pointer;
}

.setPublic__label p {
    font-size: 0.8vw;
    display: inline-block;
}

.setPublic__label input {
    float: left;
    margin-top: 9px;
    margin-left: 0px;
}

.addInputOutput-link {
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
    color: #2cb40a;
    font-size: 15px;
}

.removeItem__conainer {
    margin-top: 32px;
}

.addQuestionError {
    font-size: 0.8vw;
    color: red;
}

.removeItem__conainer button {
    width: 70%;
    font-size: 15px;
    height: 1.1vw;
    padding: 0;
    margin-top: 8%;
    color: white;
    background-color: red;
    box-shadow: -6px 0 0 0 black,
        6px 0 0 0 black,
        0 -6px 0 0 black,
        0 6px 0 0 black;
}

.removeItem__conainer button:hover {
    background-color: rgb(218, 0, 0);
    cursor: pointer;
}

.removeItem__conainer button:disabled {
    transform: translate(0, 5px);
    cursor: pointer;
    background-color: grey;
}