.Avatar {
    background-color: #ffffff;
    padding: 30px;
    margin: 5vh auto;
    width: 90%;
    max-height: max-content;
    min-height: 85vh;
    font-size: 15px;
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    color: #000000;
    position: relative;
}

.Avatar::after {
    background-color: inherit;
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
}

.Avatar::before {
    background-color: inherit;
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
}

.avatar__left {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #8db392;
    float: left;
    padding: 30px;
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    color: #000000;
    position: relative;
}

.avatar__left::after {
    background-color: inherit;
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
}

.avatar__left::before {
    background-color: inherit;
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
}

.avatar__img {
    background-color: burlywood;
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
}

.avatar__colorPicker {
    position: absolute;
    background-color: #ffffff;
    overflow: auto;
    padding: 15px;
    width: 20%;
    height: 50vh;
}

.avatar__right {
    background-color: rgb(255, 255, 255);
    float: right;
    padding: 30px;
    width: 70%;
    height: 90%;
}

.avatar__menu {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 30px;
}



.avatar__menu-btn {
    background-color: green;
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    color: #ffffff;
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.5s;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.37);
}

.avatar__menu-btn::after {
    background-color: green;
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.avatar__menu-btn::before {
    background-color: green;
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.avatar__menu-btn:hover {
    box-shadow: none;
    background-color: #027202;
    transform: translate(0, 5px);
    cursor: pointer;
}

.avatar__menu-btn:hover::after,
.avatar__menu-btn:hover::before {
    background-color: #027202;
}

.avatar__options {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    height: 50vh;
    width: 70%;
    float: right;
    overflow: auto;

}

.avatar__optionsButton {
    margin: 5px;
}

/* =============================================================Color Picker============================================================= */

.avatar__save {
    text-align: center;
}

.codemirror__editor {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

#select {
    width: 30%;
    font-size: 1rem;
    margin: 20px 0;
    padding: 10px;
}

option {
    padding: 20px;
}