.Avatar {
    background-color: #ffffff;
    padding: 30px;
    margin: 5vh auto;
    width: 85%;
    max-height: max-content;
    min-height: 90vh;
    font-size: 15px;
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    color: #000000;
    position: relative;
}

.Avatar::after {
    background-color: inherit;
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
}

.Avatar::before {
    background-color: inherit;
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
}

.avatar__left {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    float: left;
    padding: 30px;
    width: 70%;
}

.avatar__Buttons--flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.avatar__img {
    height: 60%;
    box-shadow: -6px 0 0 0 #000,
        6px 0 0 0 #000,
        0 -6px 0 0 #000,
        0 6px 0 0 #000,
        inset -4px -4px 0px 1px rgba(0, 0, 0, 0.233);
    margin-bottom: 30px;
}

.avatar__colorPicker {
    overflow: auto;
    padding: 15px;
    display: flex;
    height: 50vh;
}

.avatar__colorPicker div {
    display: flex;
    background-color: #fafffb;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: flex-start;
}

.avatar__right {
    background-color: rgb(255, 255, 255);
    float: right;
    padding: 30px;
    width: 29%;
    display: flex;
    height: 90%;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    flex-direction: column;
    margin: 5% auto;

}

.avatar__menu {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 30px;
}

.avatar__menu-btn,
.avatar__Button {
    background-color: green;
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    color: #ffffff;
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.5s;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.37);
}

.avatar__Button {
    margin: 0;
    padding: 15px;
    width: 30%;
}

.avatar__menu-btn::after,
.avatar__Button::after {
    background-color: green;
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.avatar__menu-btn::before,
.avatar__Button::before {
    background-color: green;
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.avatar__menu-btn:hover {
    box-shadow: none;
    background-color: #027202;
    transform: translate(0, 5px);
    cursor: pointer;
}

.avatar__menu-btn:hover::after,
.avatar__menu-btn:hover::before {
    background-color: #027202;
}

.avatar__options {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    height: 50vh;
    width: 70%;
    float: right;
    overflow: auto;

}

.avatar__optionsButton {
    background: none;
    margin: 13px;
    background-color: #f3f3f3;
    border: none;
    color: #000000;
    box-shadow: -4px 0 0 0 #4d4d4d,
        4px 0 0 0 #4d4d4d,
        0 -4px 0 0 #4d4d4d,
        0 4px 0 0 #4d4d4d,
        inset -4px -4px 0px 1px rgba(0, 0, 0, 0.103);
}

.avatar__optionsButton:hover,
.avatar__optionsButton:focus {
    transform: scale(1.1);
    transition: all 0.2s;
    background-color: #ffffff;
    box-shadow: -4px 0 0 0 #125705,
        4px 0 0 0 #125705,
        0 -4px 0 0 #125705,
        0 4px 0 0 #125705,
        inset -4px -4px 0px 1px rgba(0, 0, 0, 0.11),
        0px 4px 27px -3px rgba(0, 0, 0, 0.548);
}


/* =============================================================Color Picker============================================================= */

.avatar__save {
    text-align: center;
}

.codemirror__editor {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

#select {
    width: 30%;
    font-size: 1rem;
    margin: 20px 0;
    padding: 10px;
}

option {
    padding: 20px;
}

.avatar__options--grid {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "avatar__colorPicker avatar__options";
}

.avatar__options {
    display: flex;
    align-items: center;
    width: 100%;
    grid-area: avatar__options;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
}

.avatar__colorPicker {

    grid-area: avatar__colorPicker;
}

#scroll::-webkit-scrollbar-track {
    border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
    border: 2px solid #000000;
}

#scroll::-webkit-scrollbar {
    width: 15px;
}

#scroll::-webkit-scrollbar-thumb {
    border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
    background-color: #104400;
}