.bell__container {
    margin-top: 3px;
}

.bell__buttonIcon {
    text-align: left;
    padding: 0;
    border: 0;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
}

.bell__button {
    text-align: left;
    padding: 0;
    border: 0;
    background-color: transparent;
    width: 100%;
}

.bell__image {
    padding: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.bell-dropdown {
    position: absolute;
    top: 100%;
    right: 80px;
    width: 550px;
    z-index: 2;
    border: 0px;
}

.bell-dropdown__list {
    list-style: none;
    overflow-y: auto;
    width: 100%;
    height: 400px;
    max-height: 400px;
    padding-inline-start: 0px;
    background-color: var(--white);
    margin: 0vh;
    text-align: center;
    border-color: #000000;
    border-style: solid;
    border-width: 3px 0;
    color: #000000;
    min-height: 500px;
}

.bell-dropdown__list::after {
    box-shadow: 3px 0 0 #000000, 0 -3px #000000, 0 3px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: 0px;
    top: 6px;
    width: 6px;
}

.bell-dropdown__list::before {
    background-color: var(--white);
    box-shadow: -3px 0 0 #000000, 0 -3px #000000, 0 3px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
}

.bell-list__item {
    border-top: 1px solid black;
    padding: 8px 12px;
    background-color: white;
}

.bell-list__item:first-child {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}
.bell-list__item:last-child {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.bell-list__item:hover {
    background-color: rgb(236, 236, 236);
}

#bell-scroll::-webkit-scrollbar-track {
    border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
    border: 2px solid #000000;
    
}

#bell-scroll::-webkit-scrollbar {
    width: 15px;
}

#bell-scroll::-webkit-scrollbar-thumb {
    border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
    background-color: #104400;
}

.noNotification {
    margin-top: 23%;
    text-align: center;
    font-size: 18px;
}

.noNotification img {
    width: 200px;
    margin-top: 20px;
    
}

.bell-list__item p {
    display: inline-block;
    font-size: 70%;
    width: 50%;
    margin-left: 10px;
}

.bell-accept, .bell-deny {
    height: 45px !important;
    padding: 0px !important;
    width: 55px !important;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
        cursor: pointer;

}

.bell-deny {
    height: 50px !important;
    width: 50px !important;
    cursor: pointer;
}

.itemIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}