:root {
    --primary-color: #256917;
    --h1-color: #2e5e22;
    --shadow-color: #019215;
    --labelPlaceholder-color: #218d00;
    --white: #ffffff;
}

@font-face {
    font-family: pixel_operator;
    src: url(../fonts/pixel_operator/PixelOperator8.ttf);
}

@font-face {
    font-family: karmatic;
    src: url(../fonts/karmatic-arcade.regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background: url('../img/background_image.jpg');
    font-family: pixel_operator;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: fixed center;
    background-size: cover;
    z-index: -1;
    font-size: 25px;
    background-position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.pixel-button {
    width: 35%;
    background-color: green;
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    color: #ffffff;
    display: inline-block;
    padding: 20px;
    position: relative;
    font-size: 70%;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto;
    color: #ffffff;
    transition: all 0.5s;
    height: 90px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.37);
}

.pixel-button::after {
    background-color: green;
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.pixel-button::before {
    background-color: green;
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.pixel-button:hover {
    box-shadow: none;
    background-color: #027202;
    transform: translate(0, 5px);
    cursor: pointer;
}

.pixel-button:hover::after,
.pixel-button:hover::before {
    background-color: #027202;
}

/* ========================================================================================================================================== */