.landingPage {
    background-color: var(--white);
    color: #2e5e22;
    margin: 15vh auto;
    width: 60%;
    text-align: center;
    padding: 30px;
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    color: #000000;
    position: relative;
    min-height: 500px;
}

.landingPage::after {
    background-color: var(--white);
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
}

.landingPage::before {
    background-color: var(--white);
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
}

.landingPage p {
    font-size: 20px;
    margin: 20px;
    margin-bottom: 40px;
}

.landingPage mark {
    background: none;
    color: green;
}

.landingPage__codexpert {
    width: 70%;
}

.loading {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.landingLogin {
    text-align: center;
    margin: 30px;
    border: none;
    width: 20%;
    color: #8ba07b;
}

.codexpert__intro {
    text-align: justify;
    text-align-last: center;
    font-size: 60%;
    line-height: 25px;
}