#lobbyList {
    background-color: rgb(253, 240, 240);
    margin: 0;
    height: 100vh;
    top: 0;
}

.lobbies__form {
    margin: 0 auto;
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.lobbiesForm__inputGroup {
    width: 80%;
    margin: 0;
    align-self: end;
    position: relative;
    margin-bottom: 45px;
    border-color: #000000;
    border-style: solid;
    border-width: 4px 0;
    color: #000000;
    position: relative;
    background-color: white;
    transition: all 1s;
}

.lobbiesForm__inputGroup::after {
    background-color: inherit;
    box-shadow: 4px 0 0 #000000, 0 -4px #000000, 0 4px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
    outline: none;
}

.lobbiesForm__inputGroup::before {
    background-color: inherit;
    box-shadow: -4px 0 0 #000000, 0 -4px #000000, 0 4px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
}

#inputName:focus {
    transition: all 1s;
    background-color: #daffc1;
}

#inputName {
    margin: 0 auto;
    font-size: 30px;
    display: block;
    padding: 10px;
    text-align: center;
    width: 100%;
    border: none;
}

#inputName:focus {
    outline: none;
}

/* =================================Amae================================================ */
.lobbies__noLobbies {
    text-align: center;
    margin: 50px;
    margin-bottom: 0;
    color: #535353;
}

.lobbies__noLobbies h1 {
    font-size: 30px;
}

.lobbies__noLobbies h2 {
    font-size: 20px;
}

#form {
    /* background: rgba(0, 0, 0, 0.021); */
    padding: 10px 20px;
    width: fit-content;
    position: fixed;
    /* bottom: 0; */
    left: 0;
    right: 0;
    bottom: 30px;
    height: 5rem;
    box-sizing: border-box;
    /* backdrop-filter: blur(10px); */
}

#input {
    border: none;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}


#input:focus {
    outline: none;
}

#form>button {
    background: #0d6319;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#form>button:disabled {
    background: #c7face52;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    float: inline-start;
    z-index: 2;
    padding: 0;
    background-color: #c2ffbc;
}

#messages>li {
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #e0ffd8;
}

#input_message {
    font-size: 14px;
}

#input_message:focus {
    outline: none;
    background-color: #baffb1;
}

/* ================================================================================= */
.lobbylist__container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding: 30px;
}

.lobbies__lobbylist {
    margin: 0 auto;
}

.lobbies__title {
    color: #106d04;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-self: center;
}

.lobbies__table {
    padding: 0;
}

.connectedUsers__userList {
    list-style: none;
}

.userList__item {
    margin-bottom: 1vw;
}

.lobbies__table li {
    background-color: #578e32;
    padding: 25px 15px;
    display: flex;
    font-size: 20px;
    margin-bottom: 1vh;
    text-align: center;
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    position: relative;
}

.table__row::after {
    transition: all 0.2s;
    background-color: #578e32;
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
}


.table__row::before {
    transition: all 0.2s;
    background-color: #578e32;
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
}

.lobbies__table .table__header {
    padding: 20px 15px;
    background: #baffb1;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    color: #000000;
    position: relative;

}

.table__header::after {
    background-color: #baffb1;
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
}

.table__header::before {
    background-color: #baffb1;
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
}

.table__body {
    overflow: 0 auto;
    max-height: 50vh;
    height: fit-content;
}

.lobbies__table .table__row {
    transition: all 0.2s;
    background: #578e32;
    color: white;
    font-weight: bold;
    /* box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); */
}

.lobbies__table .table__row:hover {
    background: #0c7e1d;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 18px 14px 15px -4px rgba(0, 0, 0, 0.295);
    -moz-box-shadow: 18px 14px 15px -4px rgba(0, 0, 0, 0.295);
    box-shadow: 18px 14px 15px -4px rgba(0, 0, 0, 0.295);
    backdrop-filter: blur(5px);
}

.table__row:hover::after,
.table__row:hover::before {
    background: #0c7e1d;
}

.lobbies__table .col-1 {
    flex-basis: 40%;
}

.lobbies__table .col-2 {
    flex-basis: 10%;
}

.lobbies__table .col-3 {
    flex-basis: 35%;
}

.lobbies__table .col-4 {
    flex-basis: 15%;
    text-align: center;
}


.lobby__connectedUsers {
    height: 50%;
    color: white
}

.connectedUsers_title {
    clear: both;
    text-align: center;
    text-transform: uppercase;
}



.chat__title {
    color: #000
}

.chat__message {
    font-size: 14px;
}

.chat__chatbox {
    bottom: 0;
}

@media all and (max-width: 767px) {
    .lobbies__table .table__header {
        display: none;
    }

    .lobbies__table li {
        display: block;
    }

    .lobbies__table .col {
        flex-basis: 100%;
    }

    .lobbies__table .col {
        display: flex;
        padding: 10px 0;
    }

    .lobbies__table .col:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

.lobbies__button {
    background-color: green;
    border-color: #000000;
    border-style: solid;
    border-width: 4px 0;
    height: fit-content;
    color: #ffffff;
    display: inline-block;
    margin-left: 12px;
    padding: 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
    color: #ffffff;
    transition: all 0.5s;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.37);
    font-size: 60%;
}

.lobbies__button::after {
    background-color: green;
    box-shadow: 4px 0 0 #000000, 0 -4px #000000, 0 4px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.lobbies__button::before {
    background-color: green;
    box-shadow: -4px 0 0 #000000, 0 -4px #000000, 0 4px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.lobbies__button:hover {
    box-shadow: none;
    background-color: #027202;
    transform: translate(0, 1px);
    cursor: pointer;
}

.lobbies__button:hover::after,
.lobbies__button:hover::before {
    background-color: #027202;
}

/* =========================================================================================================================================================================== */
/* =========================================================================================================================================================================== */
/* =======================================================================SALA DE LOBBY======================================================================================= */
/* =========================================================================================================================================================================== */
/* =========================================================================================================================================================================== */


.lobbies__lobby {
    background: rgb(255, 240, 240);
    height: 100vh;
    color: #000000;
    padding: 30px;
}

#goBackToLobby__button {
    position: relative !important;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    margin: 10px;
    font-size: 14px;
    width: 20rem;
    height: auto;
}

#goBackToLobby__button .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 2rem;
    height: 4rem;
    background: var(--primary-color);
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    position: relative;
    text-align: center;
}

#goBackToLobby__button .circle::after {
    background-color: var(--primary-color);
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

#goBackToLobby__button .circle::before {
    background-color: var(--primary-color);
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

#goBackToLobby__button .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--white);
}

#goBackToLobby__button .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0;
    width: 0.9rem;
    height: 0.125rem;
    background: none;
}

#goBackToLobby__button .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.30rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    transform: rotate(45deg);
}

#goBackToLobby__button .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

#goBackToLobby__button:hover .circle {
    width: 100%;
}

#goBackToLobby__button:hover .circle .icon.arrow {
    background: var(--white);
    transform: translate(18rem, 0);
}

#goBackToLobby__button:hover .button-text {
    color: var(--white);
}

/* ===================================================================== */

.connectedUsers__userList {
    width: 100%;
    display: flex;
    margin: 0 auto;
    clear: both;
    color: #000000;
    padding: 10px;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.item__imgDiv {
    grid-area: 1 / 1 / 2 / 2;
}

.item__name {
    grid-area: 2 / 1 / 3 / 2;
}

.item__image {
    margin: 0 auto;
    align-self: center;
}

.item__imgDiv {
    align-self: center;
    margin: 0 auto;
}

.item__name {
    align-self: center;
    text-align: center;
}

.userList__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    clear: both;
    width: 15%;
    color: #baffb1;
    background-color: #124d00;
    margin: 0 auto;
    height: 50vh;
    padding: 20px;
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    position: relative;
}


.userList__item::after {
    background-color: inherit;
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
}

.userList__item::before {
    background-color: inherit;
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
}

.lobbies__error {
    color: red;
    text-align: center;
    font-family: pixel_operator;
    font-size: 0.75em;
    src: url(../fonts/pixel_operator/PixelOperator8.ttf);
}

.button-startGame {
    text-align: center;
}

.startGame {
    background-color: green;
    border-color: #000000;
    border-style: solid;
    border-width: 6px 0;
    color: #ffffff;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-self: center;
    transition: all 0.5s;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.37);
}

.startGame::after {
    background-color: green;
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.startGame::before {
    background-color: green;
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.startGame:hover {
    box-shadow: none;
    background-color: #027202;
    transform: translate(0, 5px);
    cursor: pointer;
}

.startGame:hover::after,
.startGame:hover::before {
    background-color: #027202;
}

.send__button {
    font-size: 1rem;
    background-color: green;
    border-color: #000000;
    border-style: solid;
    border-width: 4px 0;
    color: #ffffff;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-self: center;
    transition: all 0.5s;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.37);
    margin: auto 0;
}

.send__button::after {
    background-color: green;
    box-shadow: 4px 0 0 #000000, 0 -4px #000000, 0 4px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.send__button::before {
    background-color: green;
    box-shadow: -4px 0 0 #000000, 0 -4px #000000, 0 4px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.send__button:hover {
    box-shadow: none;
    background-color: #027202;
    transform: translate(0, 2px);
    cursor: pointer;
}

.send__button:hover::after,
.send__button:hover::before {
    background-color: #027202;
}

.form--grid {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 30px;

}

.inputMsg-div {
    width: 65%;
    left: -6px;
    grid-area: 1 / 1 / 2 / 2;
}

.buttonMsg-div {
    grid-area: 1 / 2 / 2 / 3;
}



.inputMsg-div {
    margin: 0 0 0 20px;
    margin-right: 40px;
    position: relative;
    margin-bottom: 45px;
    border-color: #000000;
    border-style: solid;
    border-width: 4px 0;
    color: #000000;
    position: relative;
    transition: all 1s;
}

#input_message:focus {
    transition: all 1s;
    background-color: #daffc1;
}

#input_message {
    font-size: 30px;
    display: block;
    padding: 10px;
    text-align: center;
    width: 100%;
    border: none;
}

.inputMsg-div::after {
    background-color: white;
    box-shadow: 4px 0 0 #000000, 0 -4px #000000, 0 4px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
    outline: none;
}

.inputMsg-div::before {
    background-color: rgb(246, 255, 235);
    box-shadow: -4px 0 0 #000000, 0 -4px #000000, 0 4px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
}

#input_message:focus {
    outline: none;
}

.user__imageIngame {
    margin: 20px auto 0 auto;
    width: fit-content;
}

.game__chatBody {
    height: 48%;
}

#userList::-webkit-scrollbar-track {
    border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
    border: 2px solid #000000;
}

#userList::-webkit-scrollbar {
    width: 15px;
}

#userList::-webkit-scrollbar-thumb {
    border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
    background-color: #104400;
}

.lobbylist__message {
    margin: 0 auto;
    padding: 0;
    font-size: 1.5rem;
    color: #ff0000;
    text-align: center;
    margin-top: 20px;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
    transform: translate(0, -40px);
}

.lobbyModal__buttons {
    display: flex;
}

.lobby-modalBtn {
    margin: 0 auto;
    width: fit-content;
}

#inputName::placeholder {
    font-size: 80%;
}

.lobbyJoined__goBackButton--width {
    width: 18% !important;
}

.settings:hover {
    cursor: pointer;
    transform: rotate(30deg);
}


.settings {
    transition: all 0.5s;
    transform: rotate(0);
    margin: 33px 10vw 10px 50px;
}

.noBtn {
    top: 2.4%;
    position: absolute;
    border: none;
    background: none;
    float: right;
    right: 3%;
}

.red input,
.red::after,
.red::before {
    background: #ffbdbd;
    transition: all 0.2s ease-in-out;
}


.list__container_li {
    max-height: 16vh;
    width: 100%;
    overflow: auto;
    font-size: medium;
}

.list__container__text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.checkList {
    width: 65%;
}