.settings__container {
    width: 100%;
    border: 3px solid black;
    align-items: center;
    height: 100%;
}

.settingsMenu-button__container {
    width: 100%;
    border: 3px solid black;
    padding: 5px;
}

.settingsQuestion-button {
    display: inline;
    margin-left: 100px;
}

#questionsButton:disabled, #questionsButton:disabled::after, #questionsButton:disabled::before {
    background-color: rgb(88, 88, 88);
}

#settingsButton:disabled, #settingsButton:disabled::after, #settingsButton:disabled::before {
    background-color: rgb(88, 88, 88);
}

.questionSettings__container {
    width: 100%;
    padding: 20px;
}

.list__container {
    border: 3px solid black;
    margin-bottom: 10px;
}

.list__container h3 {
    margin-bottom: 0px;
}

.list__container__text {
    height: 40px;
    margin: 0;
    border: 1px solid black;
    padding-bottom: 10px;
    background-color: rgb(197, 255, 197);
}

.list__container__text input {
    cursor: pointer;
}

.list__container__text label {
    cursor: pointer;
}

.publicAndMyQuestions__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 34vh;
    grid-gap: 10px;
}