.tutorial__container {
    border: 3px solid #fff;
    background-color: #fff;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.7fr 1.6fr;
    grid-template-rows: 1fr;
    gap: 0 10px;
    overflow: hidden;
}

.slider-container {
    height: 45%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.introduction__container h1 {
    text-align: center;
}
.introduction__container p {
    font-size: 20px;
    margin-right: 3px;
}

.word__pink {
    color: rgb(228, 127, 143)
}
.word__green {
    color: rgb(15, 160, 15);
}
.word__blue {
    color: rgb(79, 79, 243);
}

.prevButtonCarousel,
.nextButtonCarousel {
    width: 100px;
    background-color: green !important;
    border: 1px solid black !important;
    border-width: 6px 0 !important;
    color: #ffffff;
    padding: 5px !important;
    position: fixed;
    top: 500px;
    font-size: 100%;
    color: #ffffff;
    transition: all 0.5s;
    height: 90px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.37);
}

.prevButtonCarousel {
    left: 65px;
}
.nextButtonCarousel {
    left: 600px;
}

.tutorial__container::-webkit-scrollbar-track {
    border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
    border: 2px solid #000000;
}

.tutorial__container::-webkit-scrollbar {
    width: 15px;
}

.tutorial__container::-webkit-scrollbar-thumb {
    border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
    background-color: #104400;
}

.nextButtonCarousel::after,
.prevButtonCarousel::after {
    background-color: green;
    box-shadow: 6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.nextButtonCarousel::before,
.prevButtonCarousel::before {
    background-color: green;
    box-shadow: -6px 0 0 #000000, 0 -6px #000000, 0 6px #000000;
    content: "";
    display: block;
    height: calc(100% - 12px);
    position: absolute;
    left: -6px;
    top: 6px;
    width: 6px;
    transition: all 0.5s;
}

.containerCarousel {
    color: white;
    position: fixed;
    top: 55%;
    left: 340px;
}

.hiddenCarousel {
    visibility: hidden;
}
